/* INICIO Contenido general*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --verde: #004643;
    --verde-oscuro: #001e1d;
    --verde-claro: #abd1c6;
    --amarillo: #f9bc60;
    --blanco: #fffffe;
}

@font-face {
    font-family: 'Kaushan';
    src: url(/tipografias/KaushanScript-Regular.ttf);
}

/* FIN Contenido general*/

/* INICIO index.html*/

.container-index {
    width: 100%;
    height: 125vh;
    margin: auto;
    background-color: var(--verde);
}

.container-index_selec {
    height: 100vh;

}

.header-index {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-index_figure {
    width: 15%;
}

.header-index_figure_img {
    width: 100%;
    cursor: pointer;
}

.header-index_title {
    font-family: 'Kaushan';
    font-size: 7vw;
    color: var(--blanco);

}

.main-index {
    width: 95%;
    margin: auto;
}

.main-index-nav {
    width: 100%;
    height: 10vh;
    color: var(--pretoleo);
}

.main-index_ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.main-index_ul_li {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    color: var(--blanco);
}

.main-index_ul_li:hover {
    border-radius: 10px;
    height: 70%;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}

.nav-seleccionado {
    border-radius: 10px;
    height: 70%;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}

.carga-banderas {
    width: 100%;
    height: 80vh;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: var(--verde-claro);

}


.artBandera {
    width: 12vw;
    height: 25vh;
    display: flex;
    align-items: center;
    gap: 5%;
    flex-flow: column;
}

.flag {
    width: 10vw;
}

.flag-des {
    font-size: 1.5vw;
    color: var(--verde);
    text-align: center;
}


.paginacion {

    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: var(--verde);

}

.lineaSup {
    height: 1px;
    width: 80%;
    margin: auto;

}

.pagina-actual {
    font-size: 2vw;
    color: var(--verde-oscuro);
}

/* INICIO MODAL */

.modal-container {
    width: 30vw;
    height: 40vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btn-close {
    width: 2vw;
    height: 4, 5vh;
    position: absolute;
    top: 9%;
    right: 6%;
    background-color: transparent;
    border: 0;
}

.btn-close_img {
    width: 100%;
}

.modal {
    border: 2px solid var(--amarillo);
    background-color: var(--verde);
    border-radius: 35px;
    width: 100%;
    height: 100%;
}

.modal-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: var(--blanco);
}

.btn-empezar {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    border: 0;
    background-color: var(--amarillo);
    color: var(--verde-oscuro);
}

/* FIN MODAL */
/**/
/* FIN index.html*/
/**/
/*INICIO banderas.html*/

.container-bandera {
    width: 100%;
    height: 105vh;
    margin: auto;
    background-color: var(--verde);
}

.carga-preguntas {
    width: 100%;
    height: 70vh;
    padding-top: 3%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 50px;
    background-color: var(--verde-claro);
}

.cuestionario {
    width: 70%;
    display: flex;
    flex-flow: column;
    gap: 5%;
}

.formulario {
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.pregunta {
    font-size: 3vw;
}

.respuesta-container {
    margin: 5%;
    display: flex;
    justify-content: left;
    gap: 2%;
}

.resp {
    font-size: 2vw;
}

.bandera-container {
    width: 25%;
    display: flex;
    align-items: center;
}

.bander-figure {
    width: 100%;

}

.img-bandera {
    width: 100%;

}

.botonera {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.btn {
    width: 15%;
    border: none;
    border-radius: 20px;
    background-color: var(--amarillo);
    color: var(--verde-oscuro);
    font-size: 1.5vw;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.resultados {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    gap: 13%;
}


.resultado {
    height: 10vh;
    display: flex;
    flex-flow: column;
    gap: 10%;
}

.resultado-input {
    height: 5vh;
    border-radius: 10px;
    border: none;
    text-align: center;
}

/*FIN banderas.html*/


/* RESPONSIVE */

@media (max-width: 767px) {
    .container-index {
        height: 105vh;
    }

    .header-index {
        width: 100%;
        height: 12vh;
    }

    .header-index_figure {
        width: 25%;
    }

    .header-index_figure_img {
        width: 100%;
    }

    .main-index {
        height: 100vh;
    }

    .main-index_ul_li {
        font-size: 3vw;
    }

    .carga-banderas {
        height: 75vh;

    }

    .artBandera {
        height: 10vh;
    }

    .flag-des {
        font-size: 3vw;
    }

    .paginacion {
        height: 5vh;
        font-size: 4vw;
    }

    .pagina-actual {
        font-size: 5vw;
    }

    .modal-container {
        width: 65vw;
        height: 30vh;
    }

    .btn-close {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 10%;
    }

    .modal-title {
        width: 100%;
        text-align: center;
        padding-top: 10%;
        font-size: 6vw;
    }

    .btn-empezar {
        position: absolute;
        top: 65%;
        left: 50%;
        width: 40%;
        height: 4vh;
        font-size: 4vw;
    }


    .container-bandera {
        height: auto;
    }

    .carga-preguntas {
        width: 100%;
        height: auto;
        padding: 3%;
        display: flex;
        flex-flow: column;
    }

    .cuestionario {
        width: 100%;
        
    }
    .formulario {
        width: 100%;
    }

    .pregunta {
        width: 190%;
        font-size: 5vw;
    }

    .respuesta-container {
        width: 100%;
        height: 5vh;
        margin-block-start: 15%;
        border: 2px solid blue;
    }

    .resp{
        font-size: 2vh;
    }

    .bandera-container {
        width: 50%;
        padding-block-start: 10%;
    }

    .botonera {
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-block-start: 10%;
        gap: 2vh;
        border: 2px solid red;
    }
}



@media (max-width: 1023px) and (min-width: 768px) {

    .modal-container {
        width: 30vw;
        height: 30vh;
    }

    .container-bandera {
        height: auto;
    }

    .carga-preguntas {
        width: 100%;
        height: auto;
        padding: 3%;
        display: flex;
        flex-flow: column;
    }

    .cuestionario {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .botonera {
        padding-block-start: 5%;
    }
}


@media screen and (min-width: 1024px) {}